/* bruh */


.nav-links li:first-child {
    background-image: url("brush.png");
    background-position: center;
    background-size: cover;
}
.wrap1 {
    display: flex;
    flex-direction: column;
}


p {
    font-family: 'Poppins';
}

.inschrijvingen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}
.inschrijvingen span {
background-color: rgb(0, 0, 0);
width: 1px;
height: 300px;

}

.inschrijvingen div {
    width: 40%;
    border-style: none;
}



.link:hover{
   cursor: pointer;
}

.ins1 {
    width: 200px;
}
.ins1 button {
    background-color:#35ce8D;
    padding: 15px;
    transition: 0.5s ease; 
    border-style: none;
    width: 25%;
    color: white;
}

.ins1 button:hover, button:focus {
    background-image: url("brush.png");
    background-color: white;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    animation-duration: 1s ;
    animation-iteration-count:1;
    animation-name: test;
    color: black;
    transition: 1s;
}



@keyframes  test{
    from{ 
        background-color: #35ce8D;
        background-position: -200px;

    }
    to {
        background-image:url("brush.png") ;
        background-position: 50%;
        background-color: white;
        
    }
}


.ins2 {
    padding-left: 100px;
}
.ins1 h2{
    font-family: 'alverata', serif;
   background-image: url("brush.png");
   background-repeat: no-repeat;    
   background-size: 200px;   
   background-position: -5px -10px;
}
.ins1 p {
    
   background-repeat: no-repeat;    
   background-size: cover;   
   font-size: 15pt;
   background-position: -10px -1.5vw;  
   padding-right: 6vw;
   width: 30vw;  
}




.ins2 h2 {
    font-family: 'alverata', serif;
   background-image: url("brush.png");
   background-repeat: no-repeat;    
   background-size: 200px;   
   background-position: -5px -10px;
}
.ins2 p {
   
   background-repeat: no-repeat;    
   background-size: cover;   
   font-size: 15pt;
   background-position: -10px -1.5vw;  
   padding-right: 6vw;
   width: 30vw;
}
.ins2 button {
    background-color:#35ce8D;
    padding: 15px;
    transition: 0.5s ease; 
    border-style: none;
    width: 25%;
    color: white;

}

.ins2 button:hover, button:focus {
    background-image: url("brush.png");
    background-color: white;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    animation-duration: 1s ;
    animation-iteration-count:1;
    animation-name: test;
    color: black;
    transition: 1s;
}



.box3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 100px;
    gap: 20px;
    padding-top: 50px;
    margin-bottom: 50px;
    background-color: #E5E5E5;
}
.box3 div {
    display: flex;
    padding-bottom: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.border-box:hover {
    border-color: #35ce8D;
    color: white;
    cursor: pointer;
    background-color: #35ce8D;
}
.brochure {
    background-color: #35ce8D;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0px 60px 0;
}
.brochure  p{
    width: 30vw;
    
}
.brochure {
    height: 300px;
    margin-bottom: 100px;
}
.brochure div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    
}
.brochure p {
    font-size: 1.7vw;
}
.brochure h1 {
    padding-top: 20px;
}
h2.standalone1 {
    padding: 20px;
}
.richtingen  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.richtingen p {
    background-color: #E5E5E5;
    width: 5px;
    border-radius: 20px;
    height: 300px;
}
.richtingen a{
    height: 40px;
    display: inline;
    border: 3px solid;
    border-color:#35ce8D;
    margin-left: 2.5vw;
    padding: 15px 40px ;
    font-size: 2vw;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #35ce8D;
}
.richtingen a:link {
    text-decoration: none;
    color: white;
}
.richtingen a:visited {
    color: white;
}
.richtingen a:hover {
   background-color: white;
    color: black;
   border: none;
}
.regelement-text a:nth-child(3) {
    height: 40px;
    border: 3px solid;
    border-color:#35ce8D;
    background-color: #35ce8D;
    color: white;
    margin-left: 2.5vw;
    padding: 15px 40px ;
    font-size: 2vw;
    width: 29%;
    font-weight: bolder;
    border-radius: 10px;
    
}
.regelement-text a:nth-child(3):hover {
    height: 40px;
    background-image: url("brush.png");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    border: 3px solid;
    border-color:#35ce8D;
    margin-left: 2.5vw;
    padding: 15px 40px ;
    font-size: 2vw;
    width: 29%;
    font-weight: bolder;
    border-radius: 10px;
    
}
.events {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    
}
.events div {
    width: 30vw;
}
.events a:link {
    color: #35ce8D;
}
.events a:nth-child(1) {
    font-size: large;
}
.standalone1 {
    margin-left:5vw;
}

.richtingen li::first-letter {
    font-size: 45px;
}
.brochure img {
    
    position: relative;
    top: -30px;
    height: 400px;
    
}





.MNA {
    font-family: "Poppins", sans-serif;
	text-align: left;
}
.MNA h2 {
    background-image: url("brush.png");
    background-size: cover;
    background-position: -20px;
    width: 56%;
    background-repeat: no-repeat;

}
.MNA p:nth-child(1) {
    background-color: #35ce8D;
    width: 20%;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}




.stejaar {
    display: flex;
    flex-direction: column;
    position: relative;
}
.stejaar img {
    width: 80%;
}



/* menu */

.burger1 {
    display: none;
    z-index: 2;
}
.burger2 {
    display: none;
    z-index: 2;
}




/* media q */



@media only screen and (max-width:1053px){
    .inschrijvingen button {
        width: auto;
    }
    
    .title h1 {
        width: 80%;
        margin-left: 10vw;
    }
    .logo img {
        margin-top: 1vw;
    }
    .logo h1 {
    font-size: 2vw;    
    margin-top: 2vw;
    }
    
}
@media only screen and (max-width:770px) {
    .burger1 {
        display: block;
        align-items: right;
        position: absolute;
        right: 1%;
    }
    .box3 {
        margin-top: -100px;
        flex-direction: column;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .rdwheel {
        display: flex;
        flex-direction: column;
    }
    .burger1:hover .burger2 {
        margin-top: 50px;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: aliceblue;
        padding: 20px;
        text-indent: 20px;
        top: 10px;
    }
    .burger2 a {
        
        background-color: #35ce8D;
        text-align: left;
        color: black;
        width: 110%;
    }
    .burger2 a:link {
        text-decoration: none;
        color: black;
    }
    .nav-links {
        display: none;
    }
    .logo h1 {
        display: none;
    }
    .inschrijvingen {
        flex-direction: row;
        margin-bottom: 250px;
        text-align: center;
        
    }
    .inschrijvingen p {
        width: 90%;
        height: 100%;
       
        background-size: contain;
        background-position: center 0px;
        padding: 0;
        height: 150px;
    }
    .inschrijvingen h2{
        background-position: center;
        text-align: center;
    }
    .inschrijvingen button {
        width: auto;
        margin-left: -3vw;
    }

    .homeIMG h1{
        width: 90%;
        margin-left: 5vw;
        font-size: 4vw;
    }
    .homeIMG h2 {
        width: 90%;
        margin-left: 5vw;
        
    }
    
    .brochure {
        height: 300px;
    }
    .brochure img {
        width: 400px;
    }
    .brochure div{
        justify-content: space-evenly;
        align-items: center;
    }
    .brochure h1 {
        margin: 0px;
        padding: 0px;
    }
    .brochure p {
        padding: 0px;
        margin: 0px;
        font-size: 2.5vw;
    }
    .copyright {
        display: flex;
        width: 30%;
    margin: 0;
    }
    .regelement-text {
        padding: 0;
    }
    .homeIMG {
        height: 400px;
    }
    .regelement-text a:nth-child(3) {
        padding: 10px;
        margin: 0px;
        align-items: center;
        text-align: center;
    }
}



@media only screen and (max-width:415px) {
    .brochure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #35ce8D;
        padding-top: 70px;
        padding-bottom: 150px;
        align-items: center;
        gap: 50px;
        text-align: center;
        font-size: 20px;

    }
    .brochure p {
        font-size: 20px;
        width: 80%;
    }
    .brochure img {
        padding-top: 50px;
        width: 60%;
    }
    .ins1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ins2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 10px;
    }
    .inschrijvingen {
        margin-top:100px;

    }
    .inschrijvingen p {
        background-image: none;
        padding: 20px;
    }
    .ins1 button {
        margin-top: 90px;
    }
    .ins2 button {
        margin-top: 90px;
    }
    .richtingen {
        flex-direction: column;
        padding: 10px;
        gap: 30px;
    }
    .richtingen p {
        display: none;
    }
    .richtingen a {
        height: auto;
        background-size: 10px;
    }
    .regelement-text a:nth-child(3) {
        align-items: center;
        text-align: center;
        padding: 10px;
        margin: 0px;
        height: auto;

    }
    .regelement-text {
        align-items: center;
    }
    .link-contact {
        flex-direction: row;

    }
    footer {
        flex-direction: column;
        align-items: center;

        padding-bottom: 30px;
    }

}
     
