.logo {
	display: flex;
	color: white;
}

.logo img {
	width: 100px;
	height: 75px;
}

.homeIMG h2.slogan {
	margin-top: 37px;
	font-size: 30px;
	justify-content: center;
	margin-right: 75%;
	margin-left: 10%;
	border: #35ce8d solid;
	background-color: #35ce8d;
	border-radius: 5% 5% 0 0;
}

.nav-links {
	display: flex;
}
.nav-links ul {
	display: flex;
}

.nav-links ul li {
	text-decoration: none;
	list-style: none;
}

.nav-links ul li a {
	text-decoration: none;
	margin: 0 20px;
	color: white;
	font-weight: 600;
}

.homeIMG {
	display: flex;
	flex-direction: column;
	height: 800px;
}
.homeIMG h1 {
	position: relative;
	bottom: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	color: white;
	font-size: 60px;
	width: 100%;
	z-index: 1;
	font-weight: normal;
}

.homeIMG h2 {
	font-family: "poppins";
	font-weight: lighter;
	color: white;
	position: relative;
	bottom: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20%;
	color: white;
	font-size: 40px;
	z-index: 1;
}
.homeIMG h3 {
	position: relative;
	bottom: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
