

body{
    font-family: 'alverata', serif;
    margin: 0px 0px;
}
header{
    position: absolute;
    width: 100%;
    margin-top: 10px;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2%;
}

.logo {
    display: flex;
    color: white;

}
.logo img{
    width: 100px;
    height: 75px;
}

.nav-links{
    display: flex;

}
.nav-links ul{
    display: flex;
}

.nav-links ul li{
    text-decoration: none;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    margin: 0 20px;
    color: white;
    font-weight: 600;
}

.homeIMG{
    display: flex;
    flex-direction: column;
}
.homeIMG h1{
    position: relative;
    bottom : 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20%;
    color: white;
}

.homeIMG h2{
    font-family: 'poppins';
    font-weight: lighter;
    color: white;
    position: relative;
    bottom : 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20%;
    color: white;
}
.homeIMG h3{
    position: relative;
    bottom : 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inschrijvingen{
    
    
    padding-left: 20px;
}


.inschrijvingen .link a{
    text-decoration: none;
    color: white;
}

footer{
    border-top: 2px solid gray ;
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
}

footer h3{
    margin-bottom: -5px;
    MARGIN-TOP: 5px
    f
}

footer p {
    margin: 0;
    font-family: 'poppins';
}
.footer-links{
    margin-right: 30%;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
    
}


.footer-links ul li a {
    text-decoration: none;
    color: #35ce8D;   
}
.adress{
    margin-top: 8px;
}


.mail {
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.contact img{
    width: 30px;
    height: 30px;
}

.links-contact{
    display: flex;
    margin: 0 5%;

}
.copyright{
    display: flex;
    margin-right: 5%;
    align-items: center;
    font-family: 'alverata', serif;
}

.copyright p {
    font-family: 'alverata', serif;
}

.nav-links li:hover {
    background-image: url("brush.png");
    background-position: center;
    background-size: cover;
}

.contact{
    display: flex;
    flex-direction: column;
}

.regelement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 5%
}

.reglements a{
    text-decoration: none;
    color: #35ce8D;
}
.regelement img{
    width: 80%;
}
.regelement-text {
    flex: 1;
    padding-right: 500px;
    padding-bottom: 50px;
}

.regelement-image {
    flex: 1;
}

.regelement2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 100px 5%
}
.regelement2 img{
    width: 50%;

}

.regelement2-text {
    flex: 1;
}


