/* bruh */


.nav-links li:first-child {
    background-image: url("brush.png");
    background-position: center;
    background-size: cover;
}
.wrap1 {
    display: flex;
    flex-direction: column;
}


p {
    font-family: 'Poppins';
}

.inschrijvingen {
    border-color:   #35ce8D;
    margin: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.inschrijvingen div {
    width: 40%;
    border-style: none;
}

.link {
    background-color: #35ce8D;
    padding: 10px;
    
    width: 30%;
    text-align: center;
}

.link:hover{
   cursor: pointer;
}

.ins1 {
    font-family: 'alverata', serif;
   /* background-image: url("brush.png");*/
   background-repeat: no-repeat;    
   background-size: contain;   
   width: 300px;
}
.ins2 h3 {
    font-family: 'alverata', serif;
   /* background-image: url("brush.png");*/
   background-position: left -60px top -60px;
   background-repeat: no-repeat;    
   background-size: cover;
   width: 205px;
}



.box3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
    gap: 20px;
    margin-left: 6%;
    margin-right: 6%;
}
.box3 div {
    border-color: black;
    border: 2px solid;
    padding: 50px;
    display: flex;
    padding-right: 47px;
    padding-top: 0px;
    padding-bottom: 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.box3 img {
    width: 16vw;
}

.box3 div:hover {
    border-color: #35ce8D;
    background-color: #35ce8D;
    color: white;
    cursor: pointer;
}
.brochure {
    background-color: #35ce8D;
    width: 100%;
    color: white;
    
    
}
.brochure  p{
    margin-top: 30px;
    width: 500px;
    font-size: large;

}
.brochure div > p:nth-child(2) {
    background-color: white;
    height: 200px;
    margin: 0 50 100 0;
    padding: 20px;
    width: 200px;
}
.brochure div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 30px 50px;
    align-items: center;
}
.brochure h1 {
    padding-top: 50px;
    margin: 0;
    padding-left: 50px;
}

.richtingen  {
    
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.richtingen ul li{
    display: inline-block;
    border: 1px solid;
    border-color:#35ce8D;
    margin-left: 2.5vw;
    padding: 15px 40px ;
    font-size: 2vw;
    font-weight: bolder;
}
.richtingen ul li:hover {
    background-color: #35ce8D;
    color: white;
}
.events {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    
}
.events div {
    width: 30vw;
}
.events a:link {
    color: #35ce8D;
}
.events a:nth-child(1) {
    font-size: large;
}
.standalone1 {
    margin-left:5vw;
}