

body{
    font-family: 'alverata', serif;
    margin: 0px 10px;
}
header{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;

}
.logo img{
    width: 100px;
}

.nav-links ul{
    display: flex;
}

.nav-links ul li{
    text-decoration: none;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    margin: 0 20px;
    color: black;
    font-weight: 600;
}

.