body {
	background-color: white;
	color: black;
	font-family: "helvetica neue", sans-serif;
	margin: 0 100px;
	margin-left: 130px;
}

h1 {
	padding-right: 70px;
	font-size: 80px;
}

h2 {
	font-size: 80px;
	font-weight: 500;
	margin-top: 153px;
	margin-bottom: -18px;
	margin-left: -30px;
}

p {
	font-size: 40px;
	margin-left: -30px;
}
header {
	grid-column: 1/13;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
header img {
	grid-column: 1/5;
	height: 100px;
}
.logo2 img {
	margin-top: 5px;
	width: 15%;
	height: 80px;
}
header nav {
	grid-column: 5/13;
}
header nav ul {
	margin: 0;
	padding: 0;
	float: right;
}
header nav ul li {
	display: inline;
	padding: 10px;
	font-size: 40px;
	color: gray;
}
header nav ul li a {
	color: #fff;
	text-decoration: none;
}
header img {
	grid-column: 1/5;

	align-self: center;
}
header nav {
	grid-column: 5/13;

	align-self: center;
}
.space {
	display: flex;

	justify-content: space-between;
}
.space img {
	width: 500px;
	margin-top: 100px;
}
.font {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: -10px;
	max-width: 500px;
}

p.fontname {
	border: 5px solid;
	border-radius: 5px;
	color: black;
	margin-top: 92px;
	margin-left: -30px;
	padding: 70px;
	font-size: 40px;
	width: 300px;
}
p.colors {
	border: 5px solid;
	border-radius: 5px;
	background-color: #397367;
	color: black;
	padding: 70px;
	font-size: 40px;
	padding-right: 100px;
}
p.color {
	border: 5px solid;
	border-radius: 5px;
	background-color: #63ccca;
	color: black;
	padding: 70px;
	font-size: 40px;
}

p.green {
	border: 5px solid black;
	background-color: #5da399;
	border-radius: 5px;
	color: black;
	padding: 70px;
	font-size: 40px;
	padding-right: 85px;
}
p.blue {
	border: 5px solid black;
	background-color: #42858c;
	border-radius: 5px;
	color: black;
	padding: 70px;
	font-size: 40px;
	margin-bottom: 80px;
}
p.gray {
	border: 5px solid black;
	background-color: #35393c;
	border-radius: 5px;
	color: black;
	padding: 70px;
	font-size: 40px;
}

p.hover {
	border: 5px solid;
	border-radius: 20px;
	background-color: #397367;
	color: black;
	padding: 40px;
	font-size: 40px;
	margin-top: 200px;
}
p.hover:hover {
	border: 5px solid;
	border-radius: 20px;
	background-color: #35ce8d;
	color: black;
	padding: 45px;
	font-size: 40px;
	cursor: pointer;
}

p.active {
	border: 5px solid;
	border-radius: 20px;
	background-color: black;
	color: black;
	padding: 20px;
	font-size: 40px;
}
.kleur {
	position: relative;
	margin-top: 205px;
	margin-left: 28px;
}
.All {
	display: flex;
	flex-direction: row;
}
p.fontname {
	border: 5px solid;
	border-radius: 5px;
	color: black;
	margin-top: 92px;
	padding: 70px;
	font-size: 40px;
	width: 300px;
}
